@use "./variables";
@use "../../../vendor/twbs/bootstrap/scss/bootstrap.scss";


body {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}

.main{
    flex: 1;


        .peliculas__article__img {
          max-width: 400px;
        }   
   
}