@use "_variables.scss";
@use "header.scss";
@use "footer.scss";
@use "../../../vendor/twbs/bootstrap/scss/bootstrap.scss";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	// revisar porque flex no funciona
	min-height: 100dvh;
}

main {
	flex: 1;
	padding: 1em;
	max-width: 1024px;
	margin: auto;
	margin-bottom: 2em;
}
