@use "_variables";

.body {
	min-height: 100dvh;
	display: flex;
	align-items: center;
	flex-direction: column;

	&__h1 {
		color: variables.$color-text-general;
	}

	&__section {
		min-height: 500px;
		height: 100%;
		width: 600px;
		max-width: 100%;
		min-width: 300px;

		&__form {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1em;
			background-color: variables.$color-form-bg;
			padding: 1em;
			box-shadow: variables.$color-shadow;
			border-radius: 30px;

			&__wrap {
				background-color: variables.$color-form-label;
				padding: 1em;
				border: 1px solid gray;

				&__label__img {
					height: 100px;
				}
			}

			&__textarea {
				border: none;
			}

			&__textarea:focus {
				outline: none;
			}

			&__input {
				border: none;
			}

			&__input:focus {
				outline: none;
			}
		}
	}
}
